<!DOCTYPE html>
<html>
  <head>
    <title>Renopacker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_bundle_tag 'bundlecss' %>
    <%= javascript_bundle_tag 'bundlejs' %>
    <%= javascript_bundle_tag 'linkButtons' %>
  </head>

  <body>
    <div class="container">
      <div class='content'>
        <%= image_bundle_tag 'logo.svg', class: 'logo' %>
        <div id='link-buttons'></div>
      </div>
    </div>
  </body>
</html>
